__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Django static and media files
/static/
/media/

# Local database files
*.sqlite3

# Logs
logs/
*.log

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# IDE/editor config
.vscode/
.idea/
*.swp

data/